.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-inline: 20px;
  gap: 2rem;
}

.card {
  border: 1px solid #ccc;
  border-radius: 4px;
  overflow: hidden;
  transition: box-shadow 0.3s;
  cursor: pointer;
}

.card:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.card img {
  width: 100%;
  height: auto;
}

.card-body {
  padding: 16px;
  text-align: center;
}


@media screen and (max-width: 1024px){
  .Grid {
  grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .Grid {
    grid-template-columns: repeat(2, 1fr);
  }

}

@media screen and (max-width: 480px)
{
  .Grid {
    grid-template-columns: repeat(1, 1fr);
  }

}
